.root {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px;
  background-color: #f0f0f0;
}

.selectedPersons{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.selectedPersonCard {
  border: 1px solid;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}