# frontend
*/*/node_modules

# sharp
sharp/node_modules
sharp/outputModules
sharp/outputPersons
sharp/outputloadAndFilledPersons
sharp/outputBuild
sharp/inputPersonsForBuild
sharp/inputModulesForBuild