.root {}

.selectedPersons,
.allPersons {
  display: flex;
  padding: 10px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  gap: 5px;
  flex-wrap: wrap;
  min-height: 170px;
}

.selectedPersons {
  margin-bottom: 20px;
}

.allPersons {
  height: initial;
  margin-bottom: 10rem;
}