.root {}
.modules,
.persons {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.modules {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.module {
  border: 1px solid rgb(195, 195, 195);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.moduleImgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moduleTitle {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}
.moduleImg {
  width: 60px;
}
/* .moduleInfo {} */

.persons {
  flex-direction: column;
}

.person {
  border: 1px solid rgb(195, 195, 195);
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 70%;
  max-width: 800px;
}
.personName {
  font-weight: bold;
  text-align: center;
}
.personImg {
  width: 100%;
}
.personInfo {
  border-left: 1px solid rgb(195, 195, 195);
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.personModules {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  gap: 3px;
}

.person{
  .module {
    flex-direction: row;
  }
  .moduleTitle {
    font-weight: unset;
  }
  .moduleImg {
    --size: 45px;
    width: var(--size);
    height: var(--size);
  }
  .moduleInfo {
    border-left: 1px solid rgb(195, 195, 195);
    padding-left: 10px;
    font-size: 14px;
  }
}
