* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 10px;
}

input,
button {
  outline: none;
  border: 1px solid gray;
}

button {
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  transition: .3s;
  box-shadow: 0px 0px 0 black;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 3px 0 black;
  }

  &:active {
    transition: .1s;
    transform: translateY(-1px);
    box-shadow: 0px 2px 0;
  }
}